body {
  margin: 0;
  padding: 0;
  background: 100% auto;
  background-repeat: no-repeat;
  background-color: rgb(15, 136, 136);
}
* {
  box-sizing: border-box;
}
p {
  color: whitesmoke;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h4 {
  color: rgb(240, 233, 233);
  font-family: Arial;
  font-weight: 100;
  opacity: 0.65;
}
h2 {
  color: rgb(243, 209, 165);
  font-family: Arial;
}
span {
  color: whitesmoke;
}
header {
  height: 8.5%;
}
#header {
  margin-top: 0;
  width: 100%;
  background-color: whitesmoke;
  position: absolute;
}
#logo {
  margin-left: 5%;
}

#menubar {
  float: right;
  text-align: center;
  width: 50%;
}
#menubar a {
  color: rgb(15, 136, 136);
  text-decoration: none;
  padding: 5% 5%;
  font-size: 20px;
  line-height: 40px;
}
a:hover {
  background-color: rgb(243, 209, 165);
}

#container {
  width: 80%;
  padding: 10%;
  margin: auto;
}
#main {
  width: 50%;
  float: left;
  margin-right: 5%;
  text-align: justify;
}
#image {
  width: 40%;
  float: right;
  margin-left: 5%;
}
#screen {
  border-radius: 10px;
}
#googleplay,
#appstore {
  border-radius: 25px;
  margin-right: 2%;
}
footer {
  width: 100%;
  position: absolute;
  padding-left: 0;
  margin-left: 0;
  bottom: 0;
  text-align: center;
  text-decoration-color: honeydew;
  background-color: black;
}
@media (max-width: 800px) {
  #menubar {
    width: 70%;
  }
}
@media (max-width: 500px) {
  #menubar {
    width: 90%;
  }
  #logo {
    width: 10%;
  }
}
